.horizontalFrame {
  display: flex;
  flex-flow: row wrap;
}

footer img {
  width: 80px;
  height: 100%;
  margin-top: 40px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.verticalFrame {
  display: flex;
  flex-flow: column nowrap;
}

.nav li {
  display: inline;
}

.lg-gap {
  gap: 8vw;
}
.md-gap {
  gap: 2vw;
}

.center {
  justify-content: center;
}

.middle {
  align-items: center;
}

.nav a:link {
  font-weight: 600;
  text-decoration: none;
}

.nav a:hover {
  font-weight: 600;
  text-decoration: none;
}

.nav a:active {
  font-weight: 600;
  text-decoration: none;
}

.nav a:visited {
  font-weight: 600;
  text-decoration: none;
}
