.testgrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, minmax(100px, auto));
  background-color: #eee;
}

.item {
  display: grid;
  grid-column: 1 / 13;
  grid-row: 1 / 4;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  background-color: #aaa;
}

.subitem {
  grid-column: 3 / 11;
  background-color: red;
}

.fullsub {
  grid-column: 1 / 13;
  background-color: blue;
}


h1 {
  font-size: 64pt;
  font-weight: 500;
  font-family: 'Markazi Text', serif;
  margin: 1vh;
  color: #F4CE14;
}

h2 {
  font-size: 40pt;
  font-weight: 400;
  font-family: 'Markazi Text', Georgia, 'Times New Roman', Times, serif;
  margin: 1vh;
}
h3,
.sectionTitle {
  font-size: 20pt;
  font-weight: 800;
  font-family:'Karla', sans-serif;
}
h4,
.leading {
  font-size: 18pt;
  font-weight: 500;
  font-family:'Karla', sans-serif;
}
h5,
.sectionCategory {
  font-size: 16pt;
  font-weight: 800;
  font-family:'Karla', sans-serif;
  margin: 0;
}

h6,
.cardTitle {
  font-size: 18pt;
  font-weight: 700;
  font-family:'Karla', sans-serif;
}

.highlight {
  font-size: 16pt;
  font-weight: 500;
  font-family:'Karla', sans-serif;
}

p {
  font-size: 16pt;
  font-weight: 400;
  font-family:'Karla', sans-serif;
  margin: 0 15px;
}

header {
  grid-area: head;
}

.hero {
  position: absolute;
}

.primary {
  background-color: #495E57;
}

.primary-txt {
  color: #495E57;
}

.neutral-txt {
  color: #EDEFEE;
}

.attention {
  background-color: #F4CE14;
}

.alert {
  color: #EE9972;
}

.horizontalFrame {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin: 2vh 0;
  overflow-y: scroll;
}

.horizontalFrameWrap {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin: 2vh 0;
}

.center {
  justify-content: center;
}

.left-items {
  align-items: flex-start;
}

.auto-space {
  justify-content: space-between;
}

.auto-spread {
  justify-content: space-around;
}

.signage {
  width: 40vw;
}

main {
  grid-area: main;
}

.mainHero {
  background-color: #495E57;
  width: 100%;
}

.heroFrame {
  position: relative;
}

.mainHero img {
  position: absolute;
  max-width: 300px;
  border-radius: 16px;
}

.card {
  background-color: #eee;
  width: 291px;
  height: 485px;
  border-radius: 16px;
}

.card .imgFrame {
  width: 291px;
  height: 193px;
  overflow: hidden;
}

.card img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

footer .imgFrame {
  display: grid;
  grid-column: span 2;
}

.imgFrame img {
  max-width: 100%;
  min-width: 100%;
}

.card .icon {
  width: 30px;
}

.cardGrid {
  display: grid;
  grid-template-areas: "c-hero"
                       "c-content";
  grid-template-rows: 190px 1fr;
  grid-template-columns: 1fr;
  height: 485px;
  width: 291px;
}

.card-hero {
  grid-area: c-hero;
}
.card-content {
  grid-area: c-content
}
footer {
  grid-area: footer;
  font-size: 0.5em;
  background-color: #333;
}

footer img {
  margin-top: 40px;
}

footer section a {
  color: #EDEFEE;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.verticalFrame {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

li a:link {
  text-decoration: none;
  padding: 2px 5px;
}

li a:hover {
  text-decoration: none;
}

li a:active {
  text-decoration: none;
}

li a:visited {
  text-decoration: none;
}

nav {
  min-width: 680px;
}

nav li {
  display: inline;
}
nav a {
  color: #495E57;
}

.lg-gap {
  gap: 8vw;
}
.md-gap {
  gap: 2vw;
}

.sm-gap {
  gap: 1vw;
}

.middle {
  align-items: center;
}

button {
  width: 218px;
  height: 66px;
  border-radius: 16px;
  border: none;
  background-color: #F4CE14;
  margin: 2vh;
}

@media only screen and (max-width: 815px) {

  body {
    margin: 0 8vw;
  }
  .parent {
    grid-template-columns: repeat(4, 1fr)
  }

  .segment {
    display: grid;
    place-items: center;
    grid-column: 1/ span 4;
  }

  nav {
    display: none;
  }
}
